:root {
    --color: #ffffff;
    --bg-color: #000000;
    --font: Neue Montreal, Helvetica-Neue, Helvetica, Arial, sans-serif;
}


body{
    background: var(--bg-color);
    color: var(--color);
    font-family: var(--font);
    margin:0;
}

.rl-contain {
  padding: 0 12px;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    padding:0 12px;
}

h1, h2, h3, h4, h5, p {
    margin:0;
    padding:0;
    font-style: normal;
    font-weight: normal;
}

a{
    color: var(--color);
    text-decoration:none;

}
a:focus {
  outline: 0;
}

h1{
font-size: 12.5vw;
line-height: 10.833333333333334vw;
letter-spacing: -0.01em;
}

h2 {
    font-size: 6.25vw;
    line-height: 5.833333333333333vw;
    letter-spacing: -0.008em;
}

h3 {
font-size: 32px;
line-height: 36px;
letter-spacing: -0.005em;
}

/* Navigation */
nav.rl-navigation {
  position: fixed;
  width: 100%;
  top: 5px;
  z-index:9;
  padding: 0 12px 0 10px;
}

.difference {
  mix-blend-mode: difference;
}

.home nav.rl-navigation {
  mix-blend-mode: difference;
}

.nav-link {
  padding: 0 18px;
  display: inline-block;
}

a.nav-link {
  padding: 0;
}

h3.nav-link.logo {
  padding-left: 0;
}

.home .nav-link {
  color:#ffffff!important;
}

/* Hero */

.rl-home {
  background: #000;
}
.rl-right-text {
  width: 100%;
  text-align: right;
  transform: translateY(-4px);
}

.rl-city {
  display: inline-block;
  position: relative;
}

.rl-city:before {
  content: '';
  width: 8.333333333333332vw;
  height: 0.9027777777777777vw;
  background: #fff;
  position: absolute;
  left: -11.319444444444445vw;
  top: 50%;
  transform: translateY(-50%);
}

.rl-description {
  transform: translateX(-12px);
}

.rl-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
}

.rl-col-1-3.rl-arrow {
  grid-column: 1/4;
}

.rl-col-1-3.rl-arrow svg {
  height: 8.88888888888889vw;
  transform: translateY(1.1111111111111112vw);
  width: 10.902777777777779vw;
}

h1.rl-col-4-5 {
  grid-column: 4/6;
}

h1.rl-col-6-12 {
  grid-column: 6/13;
}

.rl-meta {
  margin-top: 70px;
  margin-bottom: 86px;
}

.rl-clock {
  grid-column: 1/9;
}

.rl-extra {
  grid-column: 9/12;
  margin-top: 84px;
}
/* Thumbs */

.projects-title{
  width: 5em;
  margin-bottom: 26px;
}

h2.year{
  text-align: right;
}

article.block {
  pointer-events: none;
}

.block header {
  display:none;
  opacity:0;
  visibility:hidden;
  pointer-events:none;
}

.project-item {
  margin-bottom: 160px;
}

.project-item.block {
  opacity: 1;
}

.project-title{
    width:80%;
}

/* Project Detail */

article.project-detail {
  padding-bottom: 1px;
}

.rl-project-year {
  position: relative;
}
.dash {
  width: 120px;
  height: 13px;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(77px);
}
.rl-project-title {
  max-width: 50em;
}

.block {
  opacity: 0.4;
  border: 1px solid #000000;
  background:linear-gradient(to bottom right, transparent calc(50% - 1px), black calc(50% - 1px), black 50%, transparent 50%) ;
}

.block-light {
  opacity: 0.4;
  border: 1px solid #fff;
  background:linear-gradient(to bottom right, transparent calc(50% - 1px), #fff calc(50% - 1px), #fff 50%, transparent 50%) ;
}


.rl-module-spacer {
  margin-bottom: 12px;
}

.project-content {
  margin-top: 26px;
}

/* Module Image Left + Block */
.rl-image-left {
  grid-column: 1/9;
}

.block-left {
  grid-column: 9/13;
}

.rl-image-right {
  grid-column: 5/13;
}

.block-right {
  grid-column: 1/5;
}

/* Module Project details */
.rl-project-details {
  margin-bottom: 102px;
}

.rl-project-info {
  grid-column: 1/9;
}

.rl-project-credits {
  grid-column: 9/13;
}

.rl-eyebrow {
  margin-bottom: 70px;
  margin-top: -7px;
}

/* Full Width Image/Vimeo */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Two Images Module */
.rl-col-1-9{
  grid-column: 1/9;
  height: fit-content;
}
.rl-col-9-13 {
  grid-column: 9/13;
  height: fit-content;
}

/* Transporter */
.rl-transporter {
  background: #000;
}

.rl-next-project-container{
  margin-top:22px;
}

img.rl-next-project-image {
  grid-column: 1/5;
  max-width: 100%;
}

.rl-next-project {
  grid-column: 5/13;
  margin-top: -6px;
}
.rl-transporter .rl-arrow svg {
  width: 9.722222222222223vw;
  height: 7.916666666666666vw;
}

.rl-next-project .rl-right-text {
  width: 100%;
  text-align: center;
  transform: translate(50%, -4px);
  transition:transform 0.6s cubic-bezier(0.75, 0.0, 0.25, 1);
}

.rl-next-project .rl-right-text h1 {
  transform: translateX(-50%);
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.75, 0.0, 0.25, 1);
}

.rl-next-project-container:hover .rl-next-project .rl-right-text {
  transform: translate(-50%, -4px);
  transition:transform 0.5s cubic-bezier(0.75, 0.0, 0.25, 1);

}

.rl-next-project-container:hover .rl-next-project .rl-right-text h1 {
  transform: translateX(50%);
  transition:transform 0.5s cubic-bezier(0.75, 0.0, 0.25, 1);

}

.rl-span-title {
  text-align: center;
  transform: translateX(-50%);
  transition:transform 0.6s cubic-bezier(0.75, 0.0, 0.25, 1);
}

.rl-span-title div {
  display: inline-block;
  transform: translateX(50%);
  transition:transform 0.6s cubic-bezier(0.75, 0.0, 0.25, 1);

}

.rl-next-project-container:hover .rl-span-title{
  transform: translateX(50%);
  transition:transform 0.5s cubic-bezier(0.75, 0.0, 0.25, 1);

}

.rl-next-project-container:hover .rl-span-title div {
  transform: translateX(-50%);
  transition:transform 0.5s cubic-bezier(0.75, 0.0, 0.25, 1);

}

/* Footer */
footer.rl-footer {
  background: #D8D8D8;
  color: #000;
  padding-top: 12px;
  padding-right:12px
}
.rl-footer-link-container {
  display: table;
}

.rl-footer-link-container a{
  display: flex;
  color: #000;
}
.rl-hover-footer-link{
  width:0;
  transform:scaleX(0);
  transform-origin: left;
  position:relative;
}
.hidden{
  position:absolute;
  display: flex;
}
.hidden .rl-arrow svg path {
  fill: #000;
}

.copywright {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* Info Page */

.rl-about-content{
  background: #D8D8D8;
  color: #000;
}

.rl-about-content{
  padding-top:12px;
}
.rl-about-text {
font-size: 90px;
line-height: 84px;
letter-spacing: -0.012em;
margin-top:90px;
}

.rl-info-container {
  grid-column: 1/9;
}

.rl-about-image {
  grid-column: 9/13;
}

.rl-block {
  opacity: 0.4;
  border: 1px solid #ffffff;
  background: linear-gradient(to bottom right, transparent calc(50% - 1px), white calc(50% - 1px), white 50%, transparent 50%);
}

.rl-meta-info-container {
  margin-top: 70px;
  margin-bottom: 102px;
}

.rl-meta-info {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 12px;
  margin-bottom: 36px;
}

.rl-meta-eyebrow {
  grid-column: 1/4;
}

.rl-meta-content {
  grid-column: 4/9;
}

.rl-meta-content a{
  color:#000;
  text-decoration:underline;
}

.scroll-container{
  width: calc(((100% - 24px)/12)*4);
  height:calc(100vh - 24px);
  position:fixed;
  right:0;
  top:0;
  box-sizing:border-box;
  margin:12px;
  overflow:hidden;
}

#rl-scroll-block{
  height:calc(100%);
  width:calc(100%);
  position:absolute;
  box-sizing:border-box;
    transform-origin:top;
    right: 0;

  
}
.rl-block-inner {
    border: 1px solid #000;
   background: linear-gradient(to top right, transparent calc(50% - 1px), #000, transparent calc(50% + 0.5px) );
  width:calc(100% - 2px);
  height:calc(100% - 2px);
}
#rl-scroll-image{
    height: 0;
    width: 100%;
    transform-origin: bottom;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}
.rl-inner-image{
  border-top: 12px solid transparent;
  width:100%;
  height:100%;
  background-size:cover;
  vertical-align: top;
}

/* 404 */
.error-container{
  background: #fff;
  height: 100vh;
  color:#000;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.rl-error {
  height: 100%;
}

.rl-col-1-6 {
  grid-column: 1/6;
}

.rl-col-6-13 {
  grid-column: 6/13;
}

.content-404{
  display: grid;
  grid-template-columns: 1fr;
}

.rl-bottom-text {
  align-self: end;
}

.back-to-home {
  position: absolute;
  left: calc;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
  z-index: 99999;
}

.back-to-home a {
  color: #000;
  grid-column: 6/13;
}

/* SmoothScroll */
html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
    .c-scrollbar:hover {
      transform: scaleX(1.45); }
    .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
      opacity: 1; }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }

    
.rl-ts-cover{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  padding:12px;
  box-sizing: border-box;
  top:0;
  left:0;
  position:fixed;
  width:100vw;
  height:100vh;
}
      .tl-wrapper {
        /* transition: 0s all ease; */
      }

      .tl-wrapper-status--entering {
        z-index:999999!important;
        position:absolute;

      }
      .gatsby-plugin-transition-link-portal {
        z-index: 4!important;
    }
    .tl-wrapper.tl-wrapper--mount.tl-wrapper-status--entered {
      opacity:1;
      position:absolute;
      z-index:999999!important;

    }
    

  @keyframes inup {
    0%   { transform: translate3d(0, 100vh, 0) ; }
    100% {transform: translate3d(0, 0, 0); }
  }

  .gatsby-plugin-transition-link-portal div {
    background-size:100% 100%!important;
  }

  /* Mobile Breakpoint */
  @media only screen and (max-device-width: 480px) {
    .rl-grid {
      grid-template-columns: repeat(6, 1fr);
  }
    h1{
    font-size: 72px;
    line-height: 86.5%;
    letter-spacing: -0.01em;
    }  
    h2{
      font-size: 36px;
      line-height: 36px;
      letter-spacing: -0.006em;
    }

    .hero-container .rl-right-text {
      text-align:left;
    }
    .rl-description {
      transform: translateX(0);
    }
    h1.rl-col-4-5 {
      grid-column: 4/7;
      text-align: right;
  }
    h1.rl-col-6-12 {
      grid-column: 2/7;
  }
    .hero-container.rl-contain {
      padding-top: 63px;
    }
    .rl-clock {
      grid-column: 1/4;
  }
  .rl-extra {
    grid-column: 4/7;
}

    .projects-grid {
      grid-template-columns: 1fr;
  }
  .project-item.block {
    display:none;
}
.project-title {
  width: 5em;
}
nav.rl-navigation {
  width: calc(100vw - 22px);
}
.projects-title {
  width: auto;
}
.project-item {
  margin-bottom: 20px;
}
.copywright {
  position: relative;
  left: 0;
  margin-top:26px;
}
.rl-footer .rl-right-text {
  margin-bottom: 62px;
}
footer.rl-footer {
  padding: 12px;
  margin-top: 12px;
}

  }