.project-header {

    &__text-align-right{
        position:relative;
        text-align: right;
    }

    &__year {
        position: relative;
    }

    &__dash {
        position: absolute;
        width: get-vw(120px);
        height: get-vw(13px);
        right: 0;
        bottom: 0;
        transform: translateY(get-vw(77px));

        @include mobile {
            width: 13.066666666666665vw;
            height: 1.3333333333333335vw;
            transform: translateY(0);
            margin-top: 8vw;
            margin-bottom: 7.199999999999999vw;
            margin-left: auto;
            position: relative;

        }
    }

    &__title {
        max-width: 50em;
        
        @include mobile {
            max-width: 16em;
        }
    }

}